/**
 * Parallax Scrolling Tutorial
 * For Smashing Magazine
 * July 2011
 *  
 * Author: Richard Shepherd
 *		   www.richardshepherd.com
 * 		   @richardshepherd   
 */


article h2 { font-family: 'Hill House'; font-size: 60px; margin: 25px 0; line-height: 1em; }

body {
	background-image: url('../images/horizontal_wood.jpg');
}

.mobile body {
  overflow: hidden;
}

.mobile #wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.mobile #scroller {
  height: 1000px;
}

#wrapper {
	height: 1620px;
	width: 100%;
	position: relative;
}

#oxfordhauslogo { 
	background: url(../images/logo.png) no-repeat center;
	margin: 0 auto;
	max-width: 656px;
	width: 656px;
	max-height: 616px;
	height: 616px;
	position: relative;	 
}

.mobile #web {
	margin-top: 150px;
}
#web {
	max-width: 515px;
	width: 515px;
	max-height: 481px;
	height: 481px;
	position: relative;
	margin: 0 auto;
}

#web-image{
	max-height: 481px;
	max-width: 515px;
}

.web-link {
	cursor: hand;
	cursor: pointer;
	border-radius: 100px;
	max-width: 90px;
	width: 90px;
	max-height: 90px;
	height: 90px;
	position: relative;
}

.mobile #plane {
	background: url(../images/balloons.png) no-repeat center;
	max-width: 299px;
	max-height: 681px;
	width: 299px;
	height: 681px;
	margin: 150px auto;
}

#plane{
	background: url(../images/plane_small.png);
	background-repeat: no-repeat;
	background-size: 850px 185px;
	max-width: 850px;
	width: 850px;
	max-height: 185px;
	height: 185px;
	margin: 0 100%;
	position: relative;
}

